{% extends "base.html" %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="centered-container">
        <div id="login-status"></div>
      </div>
      <form class="centered-container box" action="{% url 'login' %}" method="POST"> {% csrf_token %}
        <div class="controller" id="login">
            <div class="field">
            <label class="label">Username</label>
            <input class="input" id="username" type="text" maxlength="15" name="username" placeholder="alex43" required>
            </div>
            <div class="field">
            <label class="label">Password</label>
            <input class="input" id="password" name="password" type="password" placeholder="*********">
            </div>
            <div>
            <button class="button" type="submit">Submit</button>
            </div>
        </div>
    </form>
    </div>
  </section>



{% endblock %}