{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PagePay Home</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}"">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}" style="color: #3273dc;">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        <span class="is-size-4 has-text-centered has-text-weight-bold">PagePay</span>
      </a>

      <a onclick='$(".navbar-burger").toggleClass("is-active"); $(".navbar-menu").toggleClass("is-active");' role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a> 

    </div>

    <div id="navbarBasicExample" class="navbar-menu"></div> 
      
    <div class="navbar-end not-authenticated">
    <div class="navbar-item">
        <div class="buttons">
        <a class="button is-primary" href="{% url 'register'%}">
            <strong>Sign up</strong>
        </a>
        <a class="button is-light" href="{% url 'login'%}">
            Log in
        </a>
        </div>
    </div>
    </div>
    <div class="navbar-end authenticated" style="display: none;">
    <div class="navbar-item">
        <div class="buttons">
        <a class="button is-primary" href="{% url 'profile'%}">
            <strong>My Profile</strong>
        </a>
        </div>
    </div>
    </div>

    </div>
  </nav>

  <body>
    {% block body %}{% endblock %}

    <script src="https://www.gstatic.com/firebasejs/8.0/firebase.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyCVXrMNTQLV3NN1V1cBsj3at36z40WbyT4",
        authDomain: "sustained-pod-320212.firebaseapp.com",
      };
      firebase.initializeApp(config);
    </script>

    <script type="text/javascript">

        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            
            // If there's any login-status elements on page, update them with the login status. If not, skip to the next block of code.
            login_status = document.getElementById("login-status");
            if (login_status) {
              login_status.innerHTML = "You're logged in, " + user.email;
            }

            // 
            document.querySelectorAll('.authenticated').forEach(elem => {
              elem.style.display = "block"
            });
            document.querySelectorAll('.not-authenticated').forEach(elem => {
              elem.style.display = "none"
            }); 
          } else {
            document.getElementById("message").innerHTML = "No user signed in.";
            document.querySelectorAll('.authenticated').forEach(elem => {
              elem.style.display = "none"
            });
            document.querySelectorAll('.not-authenticated').forEach(elem => {
              elem.style.display = "block"
            });
          }
        });
    </script>

    <script type="text/javascript">
      function userLogin() {
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;
        console.log(email, password);
        firebase.auth().signInWithEmailAndPassword(email, password);
      }
    </script>
  </body>


</html>