{% extends "base.html" %}
  
{% block body %}

  <section class="section">
    <div class="container">

      <div id="message" ></div>
      <h1 class="title">
        Welcome to PagePay!
      </h1>
      <p class="subtitle">
        We're creating a better collaboration experience for Instagram pages and their clients. The days of stressing about if you'll get scammed or wrongfully refunded through PayPal are over. Clients can see trust scores for pages, satisfaction rates and more. Pages can automate their payments, not having to talk with each client and telling them the same thing all over again. And more...
      </p>

    </div>
  </section>

{% endblock %}
