{% extends "base.html" %}

{% block body %}
  <section class="section">
    <div class="container">
      <form class="centered-container box" action="{% url 'payment' %}" method="POST"> {% csrf_token %}
        <div class="controller" id="login">
            <div class="field">
            <label class="label">Send to (username)</label>
            <input class="input" id="username" type="text" maxlength="15" name="username" placeholder="alex43" required>
            </div>
            <div>
            <button class="button" type="submit">Submit</button>
            </div>
        </div>
    </form>
    </div>
  </section>



{% endblock %}